<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddUserDetailsServlet</servlet-name>
        <servlet-class>Controller.AddUserDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>Controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>Controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductServlet</servlet-name>
        <servlet-class>Controller.DisplayProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>Controller.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>Controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <servlet-class>Controller.DisplayProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUsersServlet</servlet-name>
        <servlet-class>Controller.DisplayUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUserServlet</servlet-name>
        <servlet-class>Controller.DisplayUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>Controller.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>Controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffLogin</servlet-name>
        <servlet-class>Controller.staffLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>Controller.StaffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>Controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogOutServlet</servlet-name>
        <servlet-class>Controller.StaffLogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserDetailsServlet</servlet-name>
        <url-pattern>/AddUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductServlet</servlet-name>
        <url-pattern>/DisplayProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <url-pattern>/DisplayProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUsersServlet</servlet-name>
        <url-pattern>/DisplayUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUserServlet</servlet-name>
        <url-pattern>/DisplayUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLogin</url-pattern>
    </servlet-mapping>

     
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
